@{
    ViewData["Title"] = "About";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<br />

<p> If you need to remind yourself what to do next, have a look at the <a href="https://github.com/truecodersio/AspNetCoreKata">Readme</a>. </p>
<p> If you need some inspiration for app design, check out the <a href="https://getbootstrap.com/docs/4.0/getting-started/introduction/">Bootstrap documentation</a>. </p>
<p> <a href="http://www.tutorialsteacher.com/mvc/integrate-controller-view-model">Here</a> is a helpful link explaining how to pass data from a controller to a view using a model. </p>

<hr />

<h2> All Products </h2>