@{
    ViewData["Title"] = "Contact";
}

<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
  <a href="http://truecoders.io/coders/clay-dunston/"> Clay Dunston </a>
</address>

<address>
    205 20th St N #1015<br />
    Birmingham, AL 35203<br />
    <abbr title="Phone">P:</abbr> (205) 530-8496
</address>

<address>
  <strong>Inquiries:</strong> <a href="mailto:dunstontc@gmail.com"> dunstontc@gmail.com </a>
</address>

