@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="jumbotron">
  <h1 class="display-4">.NET 5 MVC Template!</h1>
  <p class="lead">This is a .NET5 MVC template project running on repl.it</p>
  <hr class="my-4">
  <p>Hello Vassilis, let's check , It uses a simple install script to download and install dotnet5.</p>
  <p>Hello Gregory, You can then use dotnet cli at command prompt to create projects etc.</p>
  <p>Testing hot reload</p>  <p>Testing hot reload</p>
  <a class="btn btn-primary btn-lg" href="https://dotnet.microsoft.com/download/dotnet/5.0" role="button">Download .NET5</a>
</div>
